html, body {
  height: 100%;
}


main {
  flex-grow: 1; 
}


body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f1fcbe; 
    color: #386641; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #38764e; 
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
     padding: 0px 30px 0px 0px;
}

header p {
    font-size: 1em;
    margin: 20px;
    color: #ecf5b0;
    text-align: center;
    font-weight: bolder;
}

nav {
    display: flex;
    align-items: center;
     gap: 30px;
}

a {
    color: #ecf5b0;
    text-decoration: none;
   
    font-family: Arial, sans-serif;
     font-size: 13px;
}


.close-button {
    height: 30px;
    width: 30px;
    background-color: #A7C957;
    color: white;
    border: none;
    font-size: 30px;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    justify-items: center;
}

img {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 300px;
    height: 250px;
    border-radius: 50%;
    margin: 20px;
    border: 5px solid #A7C957;;
}

.images p {
 text-align: center;
  font-family: Arial, sans-serif;
     font-size: 19px;
     font-weight: bolder;
}

.image-container {
    display: flex;
    flex-direction: row; 
    align-items: center;  
    gap: 15px;           
    margin: 20px;
}

.content-all-img {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: nowrap;
    align-items: center;
    height: 84vh;
    padding: 0px 50px 0 0px;
}


.recipes-container {
    display: flex;
    gap: 10px;
    height: 500px;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #A7C957;
    border-radius: 10px;
    width: 170px;
        height: auto;;
    text-align: center;
    padding: 0px 10px 0 20px;
}

.meal-image {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    object-fit: cover;
}



footer {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #38764e;
    color: #ecf5b0; 
 padding: 0px 40px 0px 30px;
}

.footer_link {
    color: #ecf5b0; 
    text-decoration: none;
    font-family: Arial, sans-serif;
     font-size: 16px;
}

.footer_text {
    gap: 130px;
    display: flex;
    align-items: center;
    white-space: nowrap; 
}